.faculty-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  margin-top: 70px;
  /* margin-left: ; */
}

.faculty-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.faculty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

.faculty-card:hover {
  transform: translateY(-10px); /* Lifts the card slightly */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Intensifies the shadow */
}

.faculty-photo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
}

/* .faculty-details {
  margin-top: -20px;
} */
.faculty-details h3 {
  font-size: 20px;
  font-weight: 600;
}

.faculty-details .email {
  font-size: 16px;
  color: #777;
  margin: 5px 0;
}

.faculty-details p {
  font-size: 12px;
  color: #777;
  margin: 5px 0;
}

.remove-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.edit-button{
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #c0392b;
}

.remove-button i {
  margin-right: 8px;
}
