@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: auto;
  /* overflow-x: hidden; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0px; /* Make the scrollbar width 0 */
  height: 0px; /* Optionally hide the horizontal scrollbar as well */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the scrollbar thumb transparent */
  border-radius: 10px;
}

/* For Firefox (optional) */
* {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
  scrollbar-color: transparent transparent; /* Makes the scrollbar thumb and track transparent */
}